RewriteEngine On
RewriteCond %projects.html !-d
RewriteCond %projects.html !-f
RewriteRule ^eventcore$ /redirects/eventcore.html [L]
RewriteRule ^eventutils$ /redirects/eventutils.html [L]
RewriteRule ^skhttp$ /redirects/skhttp.html [L]
RewriteRule ^skuishy$ /redirects/skuishy.html [L]
RewriteRule ^([^\.]+)$ $1.html [NC, L]
